<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="/styles/base.css">
  </head>

  <body>
    <section id="hero">
      <div class="container">
        <h1 class="hero-title">Natural Language Processing Tester</h1>
        <div class="hero-subtitle">This NPL app will take ay text you insert and return a score using Natural Language
          Processing.</div>
      </div>
    </section>
    <section id="main">
      <div class="container">
        <div class="add-entry">
          <h1 class="title">Try it out!</h1>
          <h3 class="subtitle">
            Enter a URL to be analyzed by the NLP
          </h3>
          <div class="row">
            <div class="input-column">
              <input type="text" id="url" placeholder="URL">
            </div>
            <div class="button-column">
              <button id="entry-button" type="submit">Add Entry</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="entry-section">
      <div class="container">
        <h1 class="title">Most Recent Entries</h1>
        <div id="entries"></div>
      </div>
    </div>
    <footer>
      <p>This is a footer</p>
    </footer>
  </body>

</html>
