@import './entries.scss';
@import './form.scss';
@import './hero.scss';

html,
body {
  margin: 0;
  padding: 0;
  background: rgb(142, 223, 200);
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
}

#app {
  font-family: 'Raleway';
}

.container {
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 auto;
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
  }
}

input {
  display: block;
}

h1 {
  font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
